.collapsible-table {

    tr {
        height: 75px;
    }

    td:nth-child(2) {
        max-width: 250px;
    }

    .sub-level {
        display: none;
        background: #f0f0f0;

        td:first-child {
            padding-left: 1rem;
        }
    }
}
