.three-column-layout {
    margin-bottom: 1rem;

    @media (min-width: $large-screen-up) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1rem;

        section {
            margin: 0;
        }
    }
}

.two-column-layout {
    margin-bottom: 1rem;

    @media (min-width: $large-screen-up) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;

        section {
            margin: 0;
        }
    }
}