.toast .toast-action {
    color: white;
}

.red-toast {
    background-color: color('red', 'darken-4');
}

.green-toast {
    background-color: color('green', 'darken-4');
}

.blue-toast {
    background-color: color('blue', 'darken-4');
}

.yellow-toast {
    background-color: color('yellow', 'darken-4');
}