@charset "UTF-8";
@import "tomorrow-night-eighties.min.css";

#lwt {
    @import "toggle";
    @import "headings";
    @import "trace";
    @import "grid";

    font-size: 14px;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;

    * {
        box-sizing: border-box;
    }

    a {
        text-decoration: none;
    }

    select {
        background-color: rgba(255, 255, 255, 0.9);
        width: 100%;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 2px;
        height: 3em;
        font-size: 110%;
    }

    table {
        border-spacing: 0;
        border-collapse: collapse;

        tr {
            border-bottom: 1px solid #ccc;
        }

        td {
            padding: 0.7em 1em;
        }
    }

    #viewer {
        font-size: 14px;
        padding: 1em;
    }

    label[for='status-filter'] {
        font-size: 1em;
        color: black;
    }
    #status-filter {
        display: block;
        max-width: 200px;
    }

    #header {
        font-weight: bold;
        font-size: 1.2em;
        margin-bottom: 0em;

        .col1, .col2 {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .whoops {
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 3px 1px -2px rgba(0, 0, 0, 0.12),
        0 1px 5px 0 rgba(0, 0, 0, 0.2);
        margin-bottom: 1em;
        background-color: white;

        .ellipsis {
            display: block;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .exception {
            font-size: 1em;
        }

        .error {
            font-weight: bold;
            font-size: 1.1em;
            margin: 0.5em 0;
        }

        .col1, .col2 {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .error-long {
            overflow: hidden;
            word-wrap: break-word;
            max-height: 50px;
            cursor: pointer;
            padding: 0.5rem;
            border-radius: 3px;
            background-color: #f5f5f5;

            &.active {
                max-height: 100%;
            }
        }

        pre {
            margin: 0;

            &.errorline * {
                background-color: #004765 !important;
            }
        }

        .tabs {
            position: relative;
            padding: 0 1em;

            &::after {
                content: "";
                width: 100%;
                background-color: #333333;
                height: 1px;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                top: 98%;
            }
        }

        .tab {
            width: 100%;
            max-width: 165px;
            border: none;
            outline: none;
            padding: 1em;
            cursor: pointer;
            border-radius: 10px 10px 0 0;
            background-color: #f5f5f5;
            line-height: 1em;
            font-size: 1em;
            text-transform: none;

            &:not(:first-of-type) {
                margin-left: 0.5em;
            }

            &:hover {
                border: 1px solid black;
            }
            &.active {
                border: 1px solid black;
                border-bottom: 1px solid white;
                z-index: 1;
                background-color: #fff;
            }

        }

        .tab-content {
            display: none;
            padding: 1em;

            &.active {
                display: block;
            }
        }


    }

    a.whoops {
        color: black;
        transition: transform 100ms ease-in-out;
        &:hover {
            color: black;
            transform: scale(1.01);
        }
    }
}