#trace-tab {
    #app-only {
        outline: none;
        border: none;
        background: none;
        padding: 0.5rem 0.7rem;
        border-radius: 5px;
        background-color: #f0f0f0;
        cursor: pointer;

        &.active {
            box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
            background-color: #fff;
        }
    }
}

.trace-spot {
    .prettyprint {
        font-size: 16px;
    }

    .open-spot {
        width: 100%;
        outline: none;
        border: none;
        border-bottom: 1px solid black;
        padding: 1rem;
        background-color: transparent;
        cursor: pointer;
        text-align: left;
        &:hover, &.active {
            background-color: #f5f5f5;
        }

        &.active + .trace-context {
            margin-bottom: 1rem;
        }

        span {
            background-color: #333333;
            color: white;
            border-radius: 5px;
            padding: 0 5px;
            text-align: center;
            line-height: 30px;
            display: inline-block;
            min-width: 30px;
            height: 30px;
            margin-right: 1rem;
        }
    }

    .trace-context {
        overflow: hidden;
        max-height: 0;
        transition: max-height 200ms ease-in-out;
        padding: 0;
        margin: 0;
    }
}